{% extends 'base.html.twig' %}

{% block title %} Wild Series {% endblock %}

{% block body %}
<h1> Bienvenue cher visiteur, ici tu trouveras une liste de séries " inventés par FakerPHP "</h1>
<p>Ce Projet évoluera avec le temps, je t'invite donc à venir de temps en temps pour voir les nouveautés et l'avancement du projet</p>
{% endblock %}
